[submodule "themes/hugo-PaperMod"]
	path = themes/hugo-PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git

[submodule "contents/everyday-learning"]
	path = contents/everyday-learning
	url = https://github.com/sudodt/everyday-learning.git